{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <!-- <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li> -->
        </ul>
        <li id="lang-toggle" class="masthead__menu-item persist tail" style="margin-left: auto;">
            <a>
              <i id="lang-icon" title="Choose language" class="fa-solid fa-language" aria-hidden="true"></i>
              Site Language
            </a>
            <ul id="lang-menu" style="display: none; position: absolute; top: 100%; left: auto; right: 0; background: white; list-style: none; padding: 0.5em; margin: 0; border: 1px solid #ccc; max-height: 300px; overflow-y: auto; z-index: 999;">
              <!-- <li><a href="{{ base_path }}/en">English</a></li> -->
              <!-- <li><a href="{{ base_path }}/fr">Français</a></li> -->
              {% for lang in site.languages %}
                <li class="masthead__menu-item"><a href="{{ base_path }}/{{ lang.abbr }}">{{ lang.name }}</a></li>
              {% endfor %}
            </ul>
        </li>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>